

.write-msg-container{
    height:50px;
    width: min(100% , 600px);
    position:fixed;
    bottom:0;
    display:flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(12deg,black ,rgb(51, 0, 0) );

}



input{border:0;outline: 0;}
input:focus{outline:none!important;}
input::placeholder{
    color:rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 4px;
}

.msg-input{
    height:35px;
    width: calc(100% - 54px);
    margin:2px;
    border: 1.5px rgb(255, 255, 255) solid;
    border-radius:20px;
    color:white;
    background:transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.send-icon{
    height:50px;
    width:50px;
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: 1fr 30px 1fr;
    color:rgb(255, 255, 255);
    border:none;
    background: transparent;
    animation: icon 800ms infinite;
    font-size: 20px;
    color:black;
}

.send-icon > *{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin:auto;
    align-self: center;
}

.send-icon::before{
  content:"";
  height: 30px;
  width:30px;
  border-radius: 20px;
  z-index:-100;
  margin:-25px;
  animation : iconBefor 800ms infinite;
  background: white;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
 margin:auto;
}


/* 
@keyframes icon {
    from{
    font-size: 30px;
      
    }
    50%{
    font-size: 25px;

    }
    to {
    font-size: 30px;
    }
    
} */

@keyframes iconBefor {
    from{
        box-shadow: 0 0 0 1px white;
    }
    40%{
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.712);
    }
    80%{
        
    }
    to {
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0);
    }
    
}
